html {
  background-color: #ffc600;
  font-family: sans-serif;
}

.inbox {
  margin: 50px auto;
  max-width: 400px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.1);
}

.item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
}

.item:last-child {
  border-bottom: 0;
}

input[type='checkbox'] {
  margin: 20px;
}

input[type='checkbox'] + p {
  flex: 1;
  margin: 0;
  padding: 20px;
  font-family: 'helvetica neue';
  font-size: 20px;
  font-weight: 200;
  border-left: 1px solid #d1e2ff;
  transition: background 0.2s;
}

input[type='checkbox']:checked + p {
  background-color: #f5f5f5;
  text-decoration: line-through;
}
